body{
    background-color: burlywood;
}
.squere{
    width: 28%;
    background: burlywood;
    margin: 2%;
    padding-bottom: 20%;
    float: left;
    border-radius: 15%;
    transition: .2s;
    height: 180px;
}

.custom-container{
    margin: 0 auto;
    background-color: black;
    max-width: 900px;
    height: 500px;
}
.stript{
    height: 50px;
    background: orange;
    text-align: center;
    padding-top: 5px;
}
.pick-color{font-size: 130%; color: purple;}
.select {
	font-size: 150%;
	padding: 5px 10px;
	border-radius: 5px;
	font-weight: 900;
	margin-top: -4px;
}